html,
body,
#fullheight {
  min-height: 100% !important;
  height: 100%;
  margin: 0;
  color: white;
  background-color: rgb(40, 43, 46);
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 20px;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.title {
  font-size: 100px;
}

#login_btn {
  background-color: #1db954;
  height: 13%;
  width: 15%;
  border: none;
  border-radius: 9px;
  color: white;
  font-size: 20px;
}

#login_btn:hover {
  background-color: white;
  color: #1db954;
}

.subnav,
.nav {
  text-align: center;
  flex-direction: row;
}

.nav {
  justify-content: flex-start;
}

.nav_item {
  color: white;
  padding: 15px;
}

.app_content {
  flex-direction: row;
}

#top {
  padding: 10px;
  padding-left: 50px;
  align-self: start;
}

#chart_container {
  color: black;
  background-color: white;
  height: 500px;
  width: 500px;
}
